.team-list {
	padding: 5px;
	margin-bottom: 5px;
}

#divPlayButton, #playButton, #gameTimeButton, #startOver, #divRound2Game1PlayButton, #divRound2Game2PlayButton {
	display:inline-block;
	float: right;
}

.vs {
    vertical-align: middle
}