.team-list {
	padding: 5px;
	margin-bottom: 5px;
}

#gameTimeButton, #startOver {
	display: inline-block;
	float: right;
}

.divPlayButton, .playButton {
	display:inline-block;
	float: right;
 }

 .vs {
    vertical-align: middle
}

.div-start-over {
	margin-bottom: 100px;
    padding-bottom: 100px;
}